@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Variáveis */
:root {
    --secondary-bg-color: #fafafa;
    --primary-color: #DE522F;
    --green-color: #9ABE62;
    --black-color: #222627;
    --red-color: #B41D26;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    background: var(--secondary-bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product .image {
    width: 100%;
    height: 150px;
    margin: auto;
}

.product .image .product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.8s linear;
}

.product .image .product-image:hover {
    transform: scale(1.05);
}

.product .color {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.product .color span {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
}

.product .color span:hover {
    transform: scale(1.2);
}

.product .color .green {
    background: var(--green-color);
}

.product .color .black {
    background: var(--black-color);
}

.product .color .red {
    background: var(--red-color);
}

.product .color .orange {
    background: var(--primary-color);
}

.product .color .active::after {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    position: absolute;
    left: -3px;
    top: -3px;
}

.product .title {
    font-size: 22px;
    margin-top: 10px;
}

.product .detail {
    margin-top: 10px;
}

.product .detail p {
    margin: 15px;
    font-size: 25px;
}

.product .detail p span {
    color: var(--primary-color);
}

.product .detail a {
    text-decoration: none;
    background: var(--primary-color);
    padding: 8px 45px;
    border-radius: 8px;
    color: white;
    display: inline-block;
    transition: background 0.3s;
}

.product .detail a:hover {
    background: darken(var(--primary-color), 10%);
}
